body {
  margin: 0;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background-color: magenta;
  padding: 2em;
  text-align: center;
}

h1 {
  margin: 0;
  font-weight: 700;
  color: #333
}

p {
  text-align: center;
}
